@import url('./../assets/css/notosansmyanmar.css');


* {
  font-family: 'Noto Sans Myanmar' !important;
}
body, html{
  height:100%;
}
.bg-dark, .table-dark {
  background-color: #000 !important;
}
div{
  height:100%;
}
table{
  background:blue;
}
table th {
  text-transform: uppercase;
  color: yellow;
}
table * {
  border-color: #fff !important;
}
tbody td {
  height: 9vh !important;
  vertical-align: middle !important;
  color: #9ec3f8;
  font-weight: 700;
}
td img {
  width: 30px !important;
  padding-right: 10px !important;
}
.loading-progress-bar {
  width: 0;
  animation: progress 10s ease-in-out forwards;
}
tbody tr {
  animation: fade 1.5s ease-in-out forwards;
}
tbody tr td {
  vertical-align: middle;
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} 
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    width: 1;
  }
}

.status .mm {
  animation: mmShowAnimation 0s 5s forwards;
  visibility: hidden;
  position:absolute
  margin-top: -.5em;
}

@keyframes mmShowAnimation {
  to   { 
    visibility: visible;
  }
}

.status .eng {
  animation: engHideAnimation 0s 5s forwards;
  visibility: visible;
  position:absolute
}

@keyframes engHideAnimation {
  to   { 
      visibility: hidden;
 }
}
