/*
 * Noto Sans Myanmar (Myanmar) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans Myanmar';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSansMyanmar-Regular.eot);
  src: url(../fonts/NotoSansMyanmar-Regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NotoSansMyanmar-Regular.woff2) format('woff2'),
       url(../fonts/NotoSansMyanmar-Regular.woff) format('woff'),
       url(../fonts/NotoSansMyanmar-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans Myanmar';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NotoSansMyanmar-Bold.eot);
  src: url(../fonts/NotoSansMyanmar-Bold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NotoSansMyanmar-Bold.woff2) format('woff2'),
       url(../fonts/NotoSansMyanmar-Bold.woff) format('woff'),
       url(../fonts/NotoSansMyanmar-Bold.ttf) format('truetype');
}
